In [62]:
#!pip3 install utm
#!pip3 install geopy

In [1]:
import pandas as pd
import geopy.distance
import string
import utm

In [2]:
air = pd.read_excel('Data/_raw/_StationData.xlsx', sheet_name="Air_Stations")
bikes = pd.read_excel('Data/_raw/_StationData.xlsx', sheet_name="Bike_Stations")
air

           Station       E        N
0      Cerro Navia  338984  6299360
1        El Bosque  345313  6286825
2    Independencia  346488  6300681
3       La Florida  352504  6290304
4       Las Condes  358305  6305906
5         Pudahuel  337311  6298809
6      Puente Alto  352049  6282013
7  Parque OHiggins  345673  6296019
8        Talagante  318945  6272298

## Convert UTM to Lat And Long

Santiago is in UTM zone 19H. We can confirm by converting one bike location to UTM

In [3]:
utm.from_latlon(bikes.at[0, 'Lat'], bikes.at[0, 'Long'])

(353681.91680173215, 6302855.438990209, 19, 'H')

In [4]:
utm.to_latlon(air.at[0, 'E'], air.at[0, 'N'], 19, 'H')
air

           Station       E        N
0      Cerro Navia  338984  6299360
1        El Bosque  345313  6286825
2    Independencia  346488  6300681
3       La Florida  352504  6290304
4       Las Condes  358305  6305906
5         Pudahuel  337311  6298809
6      Puente Alto  352049  6282013
7  Parque OHiggins  345673  6296019
8        Talagante  318945  6272298

In [5]:
air['latlong'] = air.apply(lambda x: utm.to_latlon(x.E, x.N, 19, 'H'), axis = 1)
air['Station'] = air.apply(lambda x: x.Station.replace(' ', ''), axis = 1)
air

          Station       E        N                                    latlong
0      CerroNavia  338984  6299360   (-33.43307040157682, -70.73205509371141)
1        ElBosque  345313  6286825   (-33.54701601793992, -70.66616286081593)
2   Independencia  346488  6300681   (-33.42226118896334, -70.65113863331389)
3       LaFlorida  352504  6290304  (-33.516666882320685, -70.58816010361122)
4       LasCondes  358305  6305906   (-33.376776047290946, -70.5232561485476)
5        Pudahuel  337311  6298809   (-33.43778535588638, -70.75014408801236)
6      PuenteAlto  352049  6282013   (-33.591356239496974, -70.5944306781794)
7  ParqueOHiggins  345673  6296019   (-33.46417650404609, -70.66070229347744)
8       Talagante  318945  6272298   (-33.67381931104121, -70.95299615854955)

## Compute distances from each bike station to weather station

In [6]:
for i, air_station in air.iterrows():
    bikes[air_station.Station] = bikes.apply(lambda x: geopy.distance.geodesic((x.Lat, x.Long), air_station.latlong).km, axis = 1)
    
bikes

,ID,Lat,Long,N_Bikes,Closed,CerroNavia,ElBosque,Independencia,LaFlorida,LasCondes,Pudahuel,PuenteAlto,ParqueOHiggins,Talagante
0,LC014,-33.403661,-70.573435,17,NaN,15.109482,18.085704,7.516283,12.608278,5.539646,16.865365,20.909090,10.531218,46.267736
1,P30,-33.420277,-70.618120,22,NaN,10.690645,14.749153,3.078828,11.047681,10.057996,12.430635,19.102258,6.275736,41.929303
2,S42,-33.434845,-70.664879,11,NaN,6.250032,12.441817,1.892299,11.541529,14.664210,7.935572,18.552159,3.276318,37.661976
3,P48,-33.420857,-70.614987,14,NaN,10.971371,14.778976,3.365965,10.915231,9.835023,12.708827,19.006892,6.415173,42.102620
4,LC006,-33.413619,-70.605761,11,NaN,11.942367,15.824698,4.328036,11.545804,8.695751,13.692774,19.741498,7.585739,43.277382
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114,LC084,-33.420376,-70.588278,11,NaN,13.445259,15.801513,5.850145,10.679891,7.744400,15.176554,18.972621,8.303654,44.017201
115,S35,-33.454230,-70.662888,11,NaN,6.846161,10.295670,3.710286,9.807661,15.571607,8.315572,16.485220,1.121714,36.315744
116,P53,-33.437087,-70.611637,19,NaN,11.206797,13.203570,4.024845,9.092122,10.598864,12.879950,17.185026,5.462418,41.161863
117,LC062,-33.420764,-70.540141,6,NaN,17.900190,18.255525,10.324777,11.535451,5.125429,19.620867,19.581848,12.200542,47.517694
118,P63,-33.423945,-70.599309,10,NaN,12.386615,14.997713,4.823975,10.336118,8.799283,14.110816,18.573684,7.245496,42.976960

In [7]:
air['AverageBikeDistance'] = ""
air['N_BikesWeightedByDist'] = ""
for i, row in air.iterrows():
    air.at[i, 'AverageBikeDistance'] = bikes[row.Station].mean()
    
    aux = bikes.apply(lambda x: x[row.Station]/ bikes[row.Station].sum() * x.N_Bikes, axis = 1)
    air.at[i, 'N_BikesWeightedByDist'] = aux.sum()
    
air

,Station,E,N,latlong,AverageBikeDistance,N_BikesWeightedByDist
0,CerroNavia,338984,6299360,"(-33.43307040157682, -70.73205509371141)",12.77338,11.993021
1,ElBosque,345313,6286825,"(-33.54701601793992, -70.66616286081593)",15.354876,12.170705
2,Independencia,346488,6300681,"(-33.42226118896334, -70.65113863331389)",5.853655,11.557571
3,LaFlorida,352504,6290304,"(-33.516666882320685, -70.58816010361122)",10.9611,12.33027
4,LasCondes,358305,6305906,"(-33.376776047290946, -70.5232561485476)",8.806011,13.711787
5,Pudahuel,337311,6298809,"(-33.43778535588638, -70.75014408801236)",14.465971,12.064507
6,PuenteAlto,352049,6282013,"(-33.591356239496974, -70.5944306781794)",18.93434,12.441014
7,ParqueOHiggins,345673,6296019,"(-33.46417650404609, -70.66070229347744)",7.646838,11.424282
8,Talagante,318945,6272298,"(-33.67381931104121, -70.95299615854955)",43.197227,12.468374

In [8]:
air.to_csv('Data/weather_stations_info.csv')