In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Data/CO_CerroNavia.csv')
df

                 FECHA (YYMMDD);HORA (HHMM);Registros validados;Registros preliminares;Registros no validados;
010324;0100;6                                                  3;;;
010324;0200;6                                                  2;;;
010324;0300;5;;;                                                NaN
010324;0400;5                                              39999;;;
010324;0500;5                                                  5;;;
...                                                             ...
221103;1900;;;0                                                 67;
221103;2000;;;0                                                 67;
221103;2100;;;;                                                 NaN
221103;2200;;;;                                                 NaN
221103;2300;;;0                                                 68;

[189479 rows x 1 columns]

array(['5398', '4316', '6960', ..., '10828', '7348', '3904'], dtype=object)